{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block extended_content %}
	<div class="row">
        <div class="col-md-4">
            <form class="form form-horizontal" method="post" role="form"></form>
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.password2) }}
                {{ recaptcha }}
                <!-- {{ wtf.quick_form(form) }} -->
                {{ wtf.form_field(form.submit) }}
        </div>
    </div>
    <p>some important sign-up text here</p>
{% endblock %}
