{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block extended_content %}
<h1>Reset Password</h1>
{% with errors = get_flashed_messages(category_filter=["error"])   %}
    {% if errors %}
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% with success = get_flashed_messages(category_filter=["success"])   %}
    {% if success %}
        {% for s in success %}
        <div class="alert alert-success" role="alert">
        {{ s }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}