wheel 
flask 
flask-wtf 
python-dotenv 
flask-bootstrap4 
flask-mail 
flask-sitemap 
flask-recaptcha 
flask-sqlalchemy 
flask-migrate 
flask-login 
flask-argon2 
pyjwt 
autoenv 
psycopg2-binary 
flask-restful 
flask-httpauth 
psutil 
flask_apscheduler 
flask-admin