.parent-bg {
	background-image: url("/static/images/background.jpg");
	height: auto;
	background-size: cover;
}

.phone-img {
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px;

}

.navpadding {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
}


html, body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

.where-eat {
	color: white;
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
	background-color: #F8F9FA;
	
    /* line-height: 60px;     */
}

.wrapper {
    min-height: 80%;
    height: auto !important;
    height: 80%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}