{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block extended_content %}
<div class="container">
<h1>Contact</h1>
<form class="form form-horizontal" method="post" role="form" style="padding-bottom: 20px;">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.phone) }}
    {{ wtf.form_field(form.message) }}
    {{ wtf.form_field(form.submit) }}
</form>
</div>
{% endblock %}
