{% extends "bootstrap/base.html" %}

{% block title %}Munch Hunt Website{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
{% endblock %}

{% block navbar %} 
<nav class="navpadding navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="{{url_for("index")}}"><img src="static/images/munchhunt.png" width="160px" height="40px"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.path == "/index" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
		    <a class="nav-link" href="{{url_for("index")}}">Platform <span class="sr-only">(current)</span></a>
            </li>
            {% if request.path == "/restaurants" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
		    <a class="nav-link" href="{{url_for("restaurants")}}">Restaurants</a>
            </li>
            {% if request.path == "/team" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
		    <a class="nav-link" href="{{url_for("team")}}">Team</a>
            </li>
            {% if request.path == "/contact" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
		    <a class="nav-link" href="{{url_for("contact")}}">Contact</a>
            </li>
            {% if request.path == "/login" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
            {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            </li>
            {% if current_user.is_anonymous %}
            {% if request.path == "/register" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
            <a class="nav-link" href=" {{ url_for('register') }}">Register</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div style="background-color: #f8f9fa;">
<div class="container" style="padding-top: 5px; padding-bottom: 5px;">
{% with errors = get_flashed_messages(category_filter=["error"])   %}
{% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger notifont alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
    </button>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% with success = get_flashed_messages(category_filter=["success"])   %}
{% if success %}
    {% for s in success %}
    <div class="alert alert-success notifont alert-dismissible fade show" role="alert">
    {{ s }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
    </button>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
</div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
{% block extended_content %}{% endblock %}
<div class="push"></div>
</div>
<footer class="footer" id="footer">
	<div class="container">
		<span class="text-muted">
			Copyright © 2019 Munch Hunt. All Rights Reserved.
		</span>
	</div>
</footer>
{% endblock %}
